body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.container {
    text-align: center;
    background: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 90%;
    max-width: 600px;
}

h1 {
    font-size: 28px;
    margin-bottom: 20px;
    color: #333;
}

form {
    margin-bottom: 20px;
}

input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: calc(100% - 22px);
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    font-size: 16px;
    color: white;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}

#result, #recommendations {
    text-align: left;
    margin-top: 20px;
}


#result h2, #recommendations h3 {
    margin-top: 10px;
    color: #007bff;
}

#result p, #recommendations p {
    color: #333;
    line-height: 1.6;
}

ul {
    list-style: none;
    padding: 0;
}

li {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 15px;
    margin-bottom: 10px;
    text-align: left;
}

li strong {
    font-weight: bold;
    color: #333;
}

li span {
    color: #666;
    font-size: 14px;
}

.error-message {
    color: red;
    font-weight: bold;
    margin-top: 20px;
}

@media (max-width: 768px) {
    .container {
        padding: 15px;
        width: 95%;
    }

    h1 {
        font-size: 24px;
    }

    button {
        width: 100%;
        padding: 10px;
    }
}
